:root {
    --main-color:black;
    --main-color-alt:rgb(77, 79, 82);
    --main-bg:#eee;
  }
  
  body {
    font-family: "Cairo", sans-serif;
    background-color:var(--main-bg);
  }
  
  input:focus {
    outline: none;
  }
  input {
    caret-color: var(--main-color);
  }

  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: #eee;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-alt);
  }


/* Start Headings Collection */

.title-box {
  text-align: center;
}
.title-box h2 {
  letter-spacing: 1px;
}
.title-box p {
  font-size: 14px;
  color: #555;
  word-spacing: 1px;
  letter-spacing: 1px;
  position: relative;
}
.title-one + .description {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 30px 0;
  grid-gap: 15px;
  align-items: center;
}
.title-one + .description::before,
.title-one + .description::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  height: 5px;
}
.title-two + .description {
  margin-bottom: 60px;
}
.title-two + .description::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 30px;
  height: 5px;
  transform: translateX(-50%);
}
.title-two + .description::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  width: 100px;
  height: 1px;
}
.title-three + .description {
  width: fit-content;
  margin: 0 auto 60px;
  padding-bottom: 15px;
}
.title-three + .description::before {
  content: "";
  background-color: #111;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  height: 5px;
}
.title-three + .description::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: #333;
  width: 95%;
  height: 1px;
  max-width: 255px;
}
.title-four + .description {
  padding-bottom: 20px;
}
.title-four + .description::before,
.title-four + .description::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px;
  margin: auto;
  background-color: #ccc;
}
.title-four + .description::before {
  background-color: var(--main-color);
  left: 45px;
  width: 90px;
}
/* End Headings Collection */


/* Start Homepage */
.homepage {
}
.homepage .section {
}
.homepage .introduction {
  min-height: calc(100vh - (56px + 70px));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homepage .introduction .search-form {
  display: flex;
  align-items:center;
  max-width: 500px;
  margin: auto;
}
.homepage .introduction .search-form input[type="search"] {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  color: #333;
  transition: 0.3s;
}
.homepage .introduction .search-form .search-submit {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  transition: 0.3s;
}
.homepage .introduction .search-form .search-submit:hover {
  background-color: var(--main-color-alt);
}

.homepage .books {
  background-color: white;
  margin-top: 60px;
  padding: 10px;
  margin-bottom: 180px !important;
  display: flex;
  justify-content: center;
}

.homepage .books .single-post {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.homepage .single-post img {
  max-width: 60%;
  height: 172px;
  display: block;
  margin: 0 auto; /* Centers the image */
}

/* 0-0 */
.homepage .multiple-posts {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom:200px!important
}
.homepage .multiple-posts .book {
  padding: 15px;
  background-color: white;
  border-radius: 6px;
  margin: 5px;
  height:350px;
  max-width: 300px;
  text-align: center;
}
.homepage .multiple-posts .book .img-link {
}
.homepage .multiple-posts .book .img-link:hover img {
  transform: rotate(5deg);
}
.homepage .multiple-posts .book img {
  max-width: 100%;
  height:130px;
  transition: 0.3s;
}
.homepage .multiple-posts .book h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
.homepage .multiple-posts .book h3 a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.homepage .multiple-posts .book h3 a:hover {
  color: var(--main-color);
}
.homepage .multiple-posts .book .excerpt {
  font-size: 15px;
  color: #777;

}


.homepage .random-posts {
  background-color: white;
  margin-bottom:100px
}
@media (min-width: 768px) {
  .homepage .random-posts .posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 10px;

  }
}
.homepage .random-posts .post {
  padding: 15px;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding:50px
}
@media (max-width: 767px) {
  .homepage .random-posts .post {
    margin-bottom: 30px;
  }
}
.homepage .random-posts .post h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.homepage .random-posts .post h3 a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.homepage .random-posts .post h3 a:hover {
  color: var(--main-color);
}
.homepage .random-posts .post .excerpt {
  margin-bottom: 10px;
  color: #777;
}
.homepage .random-posts .post .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.homepage .random-posts .post .info i {
  margin-right: 5px;
  color: #777;
}
.homepage .random-posts .post .info a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}
.homepage .random-posts .post .info a:hover {
  color: var(--main-color);
}

/* ************************************************************** */
@media (min-width: 768px) {
  .homepage .books .books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
  }
}
.homepage .books .book {
  background-color: white;
  max-width:90%;
  position: relative;
  margin-left:20px;
  margin-bottom:100px
}
.homepage .books .book img {
  max-width: 100%;
  height: 140px;
  /* margin:0 auto; */
  transition: 0.3s;
}
.homepage .books .book .main-link {
  display: block;
  overflow: hidden;
}
.homepage .books .book img:hover {
  transform: scale(1.2) rotate(5deg);
  opacity: 0.8;
}
.homepage .books .book .id {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.homepage .books .book .comments {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.homepage .books .book .info {
  padding: 20px;
}
.homepage .books .book.info a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 22px;
  font-weight: bold;
}
.homepage .books .book .info a:hover {
  color: var(--main-color);
}
.homepage .books .book .info .excerpt {
  color: #777;
}
.homepage .books .book .info .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
}
.homepage .books .book .info .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.homepage .books .book .info .tags a {
  padding: 2px 10px;
  background-color: #eee;
  color: #666;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 14px;
}
.homepage .books .book .info .tags a:hover {
  background-color: var(--main-color);
  color: white;
}



.homepage .books .book .author-avatar {
  position: absolute; /* Ensures it stays positioned inside .book */
  top: 80px;
  left: 30px; /* Default position for larger screens */
  width: 100%; /* Ensures centering logic works */
  text-align: center; /* Centers inline elements like img */
}

.homepage .books .book .author-avatar img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 2px solid white;
  position: relative; /* Set relative positioning for better centering */
}

/* Center avatar in small screens */
@media (min-width: 768px) {
  .homepage .books .book .author-avatar {
    left: 0;
    top: 50px;
  }

  .homepage .books .book .author-avatar img {
    left: 50%;
    transform: translateX(-50%);
  }
}


.homepage .games .game .info .company {
  height: 30px;
  margin-top: 5px;
  color: #777;
}
.homepage .games .game .info .company span {
  font-weight: bold;
}

/* Start Navbar */


.navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
  padding: 15px 20px !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  background-color: #212529 !important;
}
.dropdown-toggle::after {
  position: relative;
  top: 2px;
  left: 3px;
}
.navbar-nav .dropdown-menu {
  min-width: 260px;
  top: calc(100% - 3px);
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: #212529;
}
.navbar-nav .dropdown-menu .dropdown-item {
  padding: 15px;
  border-radius: 0;
  color: white;
  transition: 0.3s;
}
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color:#212529
  color:var(--main-color);
  padding-left: 18px;
}
.navbar-nav li:last-child .dropdown-menu {
  right: 0;
  left: auto;
}
/* End Navbar */

/* Start Tag Page */
.tag-page .head {
  background-color: white;
  padding: 40px;
  text-align: center;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 20px;
}
.tag-page .head h1 {
  font-weight: bold;
}
.tag-page .tag-cloud {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.tag-page .tag-cloud h3 {
  font-weight: bold;
  margin-bottom: 30px;
}
.tag-page .tag-cloud div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag-page .tag-cloud a {
  font-size: 16px !important;
  background-color: #eee;
  padding: 2px 10px;
  text-decoration: none;
  border-radius: 6px;
  color: black;
  transition: 0.3s;
}
.tag-page .tag-cloud a:hover {
  background-color: var(--main-color);
  color: white;
}
.tag-page .post {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
}
@media (max-width: 575px) {
  .tag-page .post {
    flex-direction: column;
  }
}
.tag-page .post .image {
  flex: 1;
}
.tag-page .post .image img {
  max-width: 100%;
  height: 150px;
}
.tag-page .post .info {
  flex: 1;
}
.tag-page .post .info .cats a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: 0.3s;
}
.tag-page .post .info .cats a:hover {
  color: var(--main-color);
}
.tag-page .post .post-title {
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.tag-page .post .post-title:hover {
  color: var(--main-color);
}
.tag-page .post .date {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
  display: block;
}
.tag-page .post .excerpt {
  margin-top: 5px;
  color: #777;
}
/* End Tag Page */


/* End Homepage */

/* Start Search Page */

.search-page {
  padding-top: 30px;
}
.search-page .search-results {
}
.search-page .search-results .result {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.search-page .search-results .result .link {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
  transition: 0.3s;
}
.search-page .search-results .result .link:hover {
  color: var(--main-color-alt);
}
.search-page .search-results .result .excerpt {
  margin: 10px 0;
  color: #777;
}
.search-page .search-results .result .time {
  font-size: 14px;
  color: #999;
}
.search-page .search-results .result .categories {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #777;
}
.search-page .search-results .result .categories a {
  color: var(--main-color);
  text-decoration: none;
  transition: 0.3s;
}
.search-page .search-results .result .categories a:hover {
  color: var(--main-color-alt);
}

/* start stats */
.stats {
  background-color: white;
  padding:50px
}
.stats .stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.stats .stats-container .stat {
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  background-color: #fbfbfb;
  box-shadow: 0 0 10px rgb(204 204 204 / 50%);
  flex: 1;
  color: #666;
  font-size: 18px;
  margin: 10px;
}
.stats .stats-container .stat img {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
  position: relative;
  animation: up_and_down 2s ease-in-out infinite;
}
.stats .stats-container .stat.second img {
  animation-delay: 1s;
}
.stats .stats-container .stat .count {
  display: block;
  font-size: 60px;
  color: black;
  font-weight: bold;
}
@keyframes up_and_down {
  0%,
  100% {
    top: 3px;
  }
  50% {
    top: -3px;
  }
}

/* end stats */

/* start cats-stats  */
.cats-stats .stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px;
}
.cats-stats .stat {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  background-color: white;
  position: relative;
}
.cats-stats .stat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid currentColor;
  border-radius: 50%;
  transition: 0.3s;
}
.cats-stats .stat:hover::before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}
.cats-stats .stat:first-child {
  color: #f44336;
  border-color: #f44336;
}
.cats-stats .stat:nth-child(2) {
  color: #3f51b5;
  border-color: #3f51b5;
}
.cats-stats .stat:nth-child(3) {
  color: #4caf50;
  border-color: #4caf50;
}
.cats-stats .stat:nth-child(4) {
  color: #795548;
  border-color: #795548;
}
.cats-stats .stat i {
  font-size: 30px;
  margin-bottom: 10px;
}
.cats-stats .stat .count {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
/* End cats-stats */
/* Start Category */
.cat-head {
  text-align: center;
  padding: 40px 0;
  background-color: white;
  margin-bottom: 20px;
}

.cat-head h1 {
  font-size: 60px;
  font-weight: bold;
}
.cat-head .desc {
  color: #666;
  font-size: 18px;
}
.cat img{
  height:140px
}
.sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
/* End Category */

/* Start newsletter  */

.newsletter {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../assets/images/newsletter.jpg") no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.newsletter::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--main-color); */
  opacity: 0.9;
}
.newsletter .container {
  position: relative;
  z-index: 1;
  color: white;
}
.newsletter h2 {
  font-weight: bold;
  font-size: 40px;
}
.newsletter p {
  font-size: 18px;
  letter-spacing: 1px;
}
.newsletter form {
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter form input[type="email"] {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  position: relative;
  left: 20px;
  width: 100%;
}
.newsletter form input[type="submit"] {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  position: relative;
  left: -20px;
  background-color: var(--main-color-alt);
  color: white;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.newsletter form input[type="submit"]:hover {
  background-color: var(--main-color);
  border-color: white;
}

/* end newsletter  */
/* End Search Page */

/* Start Footer */
footer {
    padding: 20px;
    margin-top:30px;
    /* position: fixed;
    bottom: 0;
    width:100% */
  }

footer .footer-links {
  padding: 20px 0;
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
}
footer .footer-links .description {
  margin-top: 20px;
  color: #ddd;
  line-height: 1.8;
}
footer .footer-links h4 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
footer .footer-links ul li:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}
footer .footer-links ul li a {
  color: #777;
  text-decoration: none;
}
footer .footer-links ul li a:hover {
  color: var(--main-color);
}
  footer .social-icons {
    display: flex;
    justify-content: flex-end;
  }
  footer .copyright {
    display: flex;
    justify-content: flex-Start;
  }
  footer .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 50%;
  }
  footer .social-icons a.facebook:hover {
    background-color: #1877f2;
  }
  footer .social-icons a.twitter:hover {
    background-color: #1da1f2;
  }
  footer .social-icons a.linkedin:hover {
    background-color: #0a66c2;
  }
  footer .social-icons a.instagram:hover {
    background-color: #5851db;
  }
  footer .social-icons a.youtube:hover {
    background-color: #ff0000;
  }
  footer .social-icons a:hover i {
    color: #fff;
  }
  footer .social-icons a i {
    font-size: 16px;
    color: #999;
    transition: 0.3s;
  }
  @media (max-width: 575px) {
    footer .copyright {
        justify-content: center;
    }
    footer .social-icons {
      margin-top: 10px;
      justify-content: center;
    }
  }
/* End Footer */

/* Start Slick Slider */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url("../ajax-loader.gif") center center no-repeat;
}
/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("../webfonts/slick.eot");
  src: url("../webfonts/slick.eot?#iefix") format("embedded-opentype"), url("../webfonts/slick.woff") format("woff"),
    url("../webfonts/slick.ttf") format("truetype"), url("../webfonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 9999;
  width: 25px;
  height: 100%;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  /* background-color: #eee; */
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  /* background-color: #ededed; */
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: var(--main-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  width: calc(100% - 60px);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 16px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: var(--main-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--main-color);
}

/* End Slick Slider */
